body {
	margin: 0;
}

.blue {
	width: 500px;
	height: 250px;
	background-color: #407bbf;
	border: 5px solid #000;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 50px;
}

.pink {
	width: 400px;
	height: 150px;
	background-color: #FA8072;
	border: 5px solid #000;
	display: flex;
	justify-content: center;
	align-items: center;
}

.green {
	width: 300px;
	height: 50px;
	background-color: #228B22;
	border: 5px solid #000;
	display: flex;
	align-items: center;
}

.green p {
	font-size: 20px;
	margin-left: 15px;
}